In [18]:
from TM1py import TM1Service
from TM1py.Objects import Cube, Dimension, Hierarchy, Element
from datetime import date, timedelta
import datetime
from TM1py.Utils.Utils import build_pandas_dataframe_from_cellset

from TM1py import TM1Service

In [19]:
address="https://dev.knowledgeseed.ch:5125/rochebpspapi"
namespace = "knowledgeseed"
user= "oravecz.tamas"
gateway = None
password= "TomiNewPass1212%"
ssl=True

tm1 = TM1Service(
            base_url=address,
            user=user,
            password=password,
            namespace=namespace,
            gateway=gateway,
            ssl=ssl)

mdx = " With      Set DefaultProductRows AS      {TM1DRILLDOWNMEMBER({[Products].[BPSP Budget].[PL1]}, ALL, RECURSIVE )}      MEMBER [Periods].[Periods].[ProductName] as             [Products].[BPSP Budget].CurrentMember.Properties('BPSP Budget Description')      MEMBER [Periods].[Periods].[ProductCaption] as             [Products].[BPSP Budget].CurrentMember.Properties('BPSP Budget Element')      MEMBER [Periods].[Periods].[ProductLevel] as             [Products].[BPSP Budget].CurrentMember.Properties('BPSP Budget Product Level - Name')      Set FixColumns AS      {[Periods].[Periods].[ProductName],       [Periods].[Periods].[ProductCaption],       [Periods].[Periods].[ProductLevel]}   SELECT      {Union(FixColumns,{DRILLDOWNMEMBER({[Periods].[Periods].[2021],[Periods].[Periods].[2022],[Periods].[Periods].[2023],[Periods].[Periods].[2024]},{[Periods].[Periods].[2021],[Periods].[Periods].[2022],[Periods].[Periods].[2023],[Periods].[Periods].[2024]})},All)}      PROPERTIES [Periods].[Periods].[Caption] ON COLUMNS ,     {DefaultProductRows}     PROPERTIES [Products].[BPSP Budget].[BPSP Budget Caption] ON ROWS   FROM [Sales Plan by Product]   WHERE     (      [LineItems Sales Plan by Product].[LineItems Sales Plan by Product].[Final Sales Plan],      [Versions].[Versions].[Live],      [Companies].[Companies].[1241],      [Receivers].[Receivers].[BR Brazil],      [Measures Sales Plan by Product].[Measures Sales Plan by Product].[Value]     )"

data = tm1.cells.execute_mdx(mdx)

df = build_pandas_dataframe_from_cellset(data, multiindex=False)

In [20]:
df

,Versions,Periods,Companies,Products,Receivers,LineItems Sales Plan by Product,Measures Sales Plan by Product,Values
4073,Live,2021,1241,458010,BR,Final Sales Plan,Value,816.581784
4128,Live,2021,1241,458011,BR,Final Sales Plan,Value,None
4183,Live,2021,1241,458012,BR,Final Sales Plan,Value,None
3798,Live,2021,1241,458070,BR,Final Sales Plan,Value,None
3853,Live,2021,1241,458090,BR,Final Sales Plan,Value,None
...,...,...,...,...,...,...,...,...
10010,Live,ProductName,1241,P96,BR,Final Sales Plan,Value,CONTINUOUS GLUCOSE MONITORING
0,Live,ProductName,1241,PL1,BR,Final Sales Plan,Value,DIVISION DIAGNOSTICS
9955,Live,ProductName,1241,S0030,BR,Final Sales Plan,Value,CONTINUOUS GLUCOSE MONITORING
10285,Live,ProductName,1241,S0150,BR,Final Sales Plan,Value,HEALTH & DIGITAL SOLUTIONS
10450,Live,ProductName,1241,S0160,BR,Final Sales Plan,Value,INSULIN DELIVERY SYSTEMS