# TM1py Get MDX From View

Import python packages

In [1637]:
import xlsxwriter
import numpy as np
import pandas as pd
from TM1py import TM1Service
from TM1py.Objects import Cube, Dimension, Hierarchy, Element
from datetime import date, timedelta
import datetime
pd.set_option('display.float_format', lambda x: '%.3f' % x)
from TM1py.Utils.Utils import build_pandas_dataframe_from_cellset

# TM1py connection

In [1638]:
address="localhost"
namespace = "knowledgeseed"
port=5280
user= "tm1py"
gateway = None
password= "2bffS8hcbJqa7xdA"
ssl=False

tm1 = TM1Service(
            address=address,
            port=port,
            user=user,
            password=password,
            namespace=namespace,
            gateway=gateway,
            ssl=ssl)

In [1639]:
#nv = tm1.cubes.views.get_native_view('Deal Email Report' , 'Export_template', private=False)

In [1640]:
#mdx = nv.MDX

In [1641]:
mdx = 'SELECT NON EMPTY TM1SubsetToSet([Period], "Years") ON COLUMNS, NON EMPTY TM1SubsetToSet([Deal Email Report Measure], "Default") ON ROWS FROM [Deal Email Report] WHERE ([Deal].[Deal_0001])'

In [1642]:
data = tm1.cubes.cells.execute_mdx(mdx)

In [1643]:
df = build_pandas_dataframe_from_cellset(data, multiindex=False)

In [1644]:
df

         Deal Period       Deal Email Report Measure        Values
15  Deal_0001   2021                  Cost - reagent 100920171.765
20  Deal_0001   2021  Cost Of Goods Sold ( w/o VAT ) 100920171.765
25  Deal_0001   2021                    Gross profit  54029059.311
30  Deal_0001   2021                  Gross profit %         0.349
10  Deal_0001   2021       Product Sales ( w/o VAT ) 154949231.076
5   Deal_0001   2021     Sales - reagent ( w/o VAT ) 154949231.076
0   Deal_0001   2021              Sales Growth rate%           nan
16  Deal_0001   2022                  Cost - reagent 112021390.659
21  Deal_0001   2022  Cost Of Goods Sold ( w/o VAT ) 112021390.659
26  Deal_0001   2022                    Gross profit  59972255.835
31  Deal_0001   2022                  Gross profit %         0.349
11  Deal_0001   2022       Product Sales ( w/o VAT ) 171993646.494
6   Deal_0001   2022     Sales - reagent ( w/o VAT ) 171993646.494
1   Deal_0001   2022              Sales Growth rate%         0.110
17  Deal_0001   2023                  Cost - reagent 120983101.912
22  Deal_0001   2023  Cost Of Goods Sold ( w/o VAT ) 120983101.912
27  Deal_0001   2023                    Gross profit  64770036.302
32  Deal_0001   2023                  Gross profit %         0.349
12  Deal_0001   2023       Product Sales ( w/o VAT ) 185753138.214
7   Deal_0001   2023     Sales - reagent ( w/o VAT ) 185753138.214
2   Deal_0001   2023              Sales Growth rate%         0.080
18  Deal_0001   2024                  Cost - reagent 130661750.064
23  Deal_0001   2024  Cost Of Goods Sold ( w/o VAT ) 130661750.064
28  Deal_0001   2024                    Gross profit  69951639.207
33  Deal_0001   2024                  Gross profit %         0.349
13  Deal_0001   2024       Product Sales ( w/o VAT ) 200613389.271
8   Deal_0001   2024     Sales - reagent ( w/o VAT ) 200613389.271
3   Deal_0001   2024              Sales Growth rate%         0.080
19  Deal_0001   2025                  Cost - reagent 141114690.070
24  Deal_0001   2025  Cost Of Goods Sold ( w/o VAT ) 141114690.070
29  Deal_0001   2025                    Gross profit  75547770.342
34  Deal_0001   2025                  Gross profit %         0.349
14  Deal_0001   2025       Product Sales ( w/o VAT ) 216662460.412
9   Deal_0001   2025     Sales - reagent ( w/o VAT ) 216662460.412
4   Deal_0001   2025              Sales Growth rate%         0.080

In [1645]:
del df['Deal']

In [1646]:
pivot = df.pivot_table('Values', index='Deal Email Report Measure', columns='Period')

In [1647]:
pivot

Period,2021,2022,2023,2024,2025
Deal Email Report Measure,,,,,
Cost - reagent,100920171.765,112021390.659,120983101.912,130661750.064,141114690.070
Cost Of Goods Sold ( w/o VAT ),100920171.765,112021390.659,120983101.912,130661750.064,141114690.070
Gross profit,54029059.311,59972255.835,64770036.302,69951639.207,75547770.342
Gross profit %,0.349,0.349,0.349,0.349,0.349
Product Sales ( w/o VAT ),154949231.076,171993646.494,185753138.214,200613389.271,216662460.412
Sales - reagent ( w/o VAT ),154949231.076,171993646.494,185753138.214,200613389.271,216662460.412
Sales Growth rate%,nan,0.110,0.080,0.080,0.080

In [1648]:
#egy sor hossza
oszlop = pivot.iloc[[0], :]
oszlop = oszlop.values.tolist()
oszlop = oszlop[0]
oszlop = len(oszlop)
oszlop

5

In [1649]:
#egy oszlop hossza
sor = pivot.iloc[:, [0]]
sor = sor.values.tolist()
sor = len(sor)
sor

7

# Excelbe létrehozása

In [1650]:
workbook = xlsxwriter.Workbook('Roche.xlsx')
worksheet = workbook.add_worksheet()

In [1651]:
#skinek

cim = workbook.add_format({'bold': True})
cim.set_font_name('Imago')
cim.set_font_size(12)
cim.set_align('center')
cim.set_bg_color('#A9D08E')

cimkicsi = workbook.add_format({'bold': True})
cimkicsi.set_font_name('Imago')
cimkicsi.set_font_size(8)
cimkicsi.set_align('center')
cimkicsi.set_bg_color('#A9D08E')

cimkek = workbook.add_format({'bold': True})
cimkek.set_font_name('Imago')
cimkek.set_font_size(8)
cimkek.set_align('center')
cimkek.set_bg_color('#8DB4E2')

bold = workbook.add_format({'bold': True})

money = workbook.add_format({'num_format': '_ * # ##0_ ;_ * -# ##0_ ;_ * "-"??_ ;_ @_ '})

In [1652]:
worksheet.write('B2','Distributor Channel P&L',cim)
worksheet.write('B3','总渠道利润',cim)
worksheet.write('B4','Hospital - quantity ',cim)
worksheet.write('B6','Sales Growth rate% ')
worksheet.write('B8','Items ',cimkek)
worksheet.write('B9','Sales - reagent ( w/o VAT )',bold)
worksheet.write('B10','Product Sales ( w/o VAT ) ',bold)

0

In [1653]:
arr = np.array(['Year1','Year2','Year3','Year4','Year5','Year6','Year7'])
arr = arr[0:oszlop]
szam=0
for x in arr:
    worksheet.write(4, 3+szam, x,cimkicsi)
    szam = szam+1

In [1654]:
szam=0
for x in arr:
    worksheet.write(7, 3+szam, x,cimkek)
    szam = szam+1

# Szászalékok betöltése

In [1655]:
rate = pivot.loc[["Sales Growth rate%"]]
rate = rate.values.tolist()
rate = rate[0]
rate

[nan, 0.11, 0.08, 0.08, 0.08]

In [1656]:
rate = np.array(rate)
new_rate = np.delete(rate, 0)
new_rate

array([0.11, 0.08, 0.08, 0.08])

In [1657]:
szamegy=0
for x in new_rate:
    worksheet.write(5, 4+szamegy, x)
    szamegy = szamegy+1

A kiinduló adat

In [1658]:
data = pivot.loc[["Sales - reagent ( w/o VAT )"]]
data = data.values.tolist()
data = data[0]
data = data[0]
data

154949231.076

In [1659]:
worksheet.write('D9',data)

0

Sales - reagent ( w/o VAT )

In [1660]:
strings = ["=D9*(1+E$6)", "=E9*(1+F$6)", "=F9*(1+G6)","=G9*(1+H6)"]

In [1661]:
#0-tol számol
row=8
szamlalo=0

for value in strings:
    worksheet.write(row, 4+szamlalo, value,money)
    szamlalo = szamlalo+1

Product Sales ( w/o VAT )

In [1662]:
strings = ["=D9", "=E9", "=F9","=G9","=H9"]

In [1663]:
#0-tol számol
row=9
szamlalo=0

for value in strings:
    worksheet.write(row, 3+szamlalo, value,money)
    szamlalo = szamlalo+1

Cost - reagent

In [1664]:
worksheet.write('B12',"Cost - reagent")
worksheet.write('C12',"65,13112137%")

0

In [1665]:
strings = ["=D9*$C$12", "=E9*$C$12", "=F9*$C$12","=G9*$C$12","=H9*$C$12"]

In [1666]:
#0-tol számol
row=11
szamlalo=0

for value in strings:
    worksheet.write(row, 3+szamlalo, value,money)
    szamlalo = szamlalo+1

Cost Of Goods Sold ( w/o VAT )

In [1667]:
worksheet.write('B13',"Cost Of Goods Sold ( w/o VAT )",bold)

0

In [1668]:
strings = ["=D12", "=E12", "=F12","=G12","=H12"]

In [1669]:
#0-tol számol
row=12
szamlalo=0

for value in strings:
    worksheet.write(row, 3+szamlalo, value,money)
    szamlalo = szamlalo+1

Gross profit

In [1670]:
worksheet.write('B15',"Gross profit ",bold)

0

In [1671]:
strings = ["=D10-D13", "=E10-E13", "=F10-F13","=G10-G13","=H10-H13"]

In [1672]:
#0-tol számol
row=14
szamlalo=0

for value in strings:
    worksheet.write(row, 3+szamlalo, value,money)
    szamlalo = szamlalo+1

Gross profit %

In [1673]:
worksheet.write('B16',"Gross profit %")

0

In [1674]:
strings = ["=D15/D10", "=E15/E10", "=F15/F10","=G15/G10","=H15/H10"]

In [1675]:
format2 = workbook.add_format({'num_format': '0%'})

In [1676]:
#0-tol számol
row=15
szamlalo=0

for value in strings:
    worksheet.write(row, 3+szamlalo, value,format2)
    szamlalo = szamlalo+1

SUM

In [1677]:
worksheet.write('I6',"Legal",bold)
worksheet.write('I8',"Total",cimkek)

0

In [1678]:
worksheet.write('I9',"=SUM(D9:H9)",money)
worksheet.write('I10',"=I9",money)
worksheet.write('I12',"=SUM(D12:H12)",money)
worksheet.write('I13',"=I12",money)
worksheet.write('I15',"=I10-I13",money)
worksheet.write('I16',"=I15/I10",format2)

0

In [1679]:
workbook.close()